.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 40%
    right: 50%
  &-2
    animation: scale 4.8s ease-in-out infinite alternate
    position: absolute
    top: 15%
    left: 12%
  &-3
    animation: move 4s ease-in-out infinite alternate
    position: absolute
    top: 12%
    left: -112%
    width: 300px
@keyframes move 
  0%
    transform: translateX(0)
  100%
    transform: translateX(10%)


@keyframes scale
  0%
    transform: scale(1.5)

  100%
    transform: scale(1.4)

.banner-principal__img
  img
    width: 85%
.banner-interno__fondo
  background-image: url('../assets/curso/portada/banner-interno.png') !important
.carousel-control-next, .carousel-control-prev
  background-color: $color-primario
  opacity: 1
.carousel-control-next-icon, 
  background-image:  url('../assets/curso/temas/flecha-azul.svg') !important
.carousel-control-prev-icon
  background-image:  url('../assets/curso/temas/flecha-azul.svg') !important
  transform: rotate(180deg)
.carousel-indicators
  display: none
.contenedor-franja
  position: relative
  .franja
    background-color: $color-acento-contenido
    height: 75%
    width: 100%
    position: absolute
    bottom: 0
    left: 0
  .contenido
    position: relative
.contenedor-traductor
  position: relative
  background-color: #fff7da
  padding: 2em
  border-radius: 10px
  transition: height 0.5s ease-in-out
  &__esp
    border-top: 3px solid #69727c
    padding-top: 1em
  .boton-traduccion
    position: absolute
    bottom: 0
    right: 0
    transform: translateY(100%) translateX(-13%)
    background-color: #ff5f65
    border-radius: 0px 0px 10px 10px
    padding: 0.5em 1em
    cursor: pointer
    &:hover
      background-color: darken(#ff5f65, 2 )
.contenedor-traductor2
  position: relative
  background-color: #fff0b5
  padding: 2em
  border-radius: 10px
  transition: height 0.5s ease-in-out
  &__esp
    border-top: 3px solid #69727c
    padding-top: 1em
  .boton-traduccion
    position: absolute
    bottom: 0
    right: 0
    transform: translateY(100%) translateX(-13%)
    background-color: #ff5f65
    border-radius: 0px 0px 10px 10px
    padding: 0.5em 1em
    cursor: pointer
    &:hover
      background-color: darken(#ff5f65, 2 )
.mostrar
  display: none
.tarjeta-audio__texto
  color: #3c3fa7 !important
.slyder-a__btn--sigt, .slyder-a__btn--atrs
  background-color: $color-acento-botones
  opacity: 1
  border: 0px
  background-image: url('../assets/curso/temas/flecha-blanca.svg') !important
.slyder-a__bullets__item--active
  background-color: $color-acento-botones
  opacity: 1
  border: 0px
h5.text-lg-white
  @media (max-width: $bp-max-md)
    color: #fff !important
    span
      color: #fff !important
      